{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center">
        <!-- col-md-8 limits the width so long text remains readable -->
        <div class="col-12 col-md-10 text-center"> 
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat massa purus, a viverra quam tempus at. Etiam lobortis ornare ex, gravida tempus purus. Proin porta sagittis nulla. Aliquam egestas auctor nibh sed lobortis. Cras nulla massa, viverra ac tellus ut, venenatis auctor sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin nec odio pulvinar, efficitur turpis vel, aliquet turpis. Sed ut lacinia tellus. Sed tristique, nisl nec pretium fringilla, lorem diam lacinia nisl, at ultricies turpis ligula quis dui. Fusce venenatis consectetur diam, nec fringilla nunc sollicitudin a. Donec turpis nisi, tincidunt sit amet nisi vitae, ultricies dignissim quam.
            </p>
            <p>
                Etiam posuere, dui egestas feugiat egestas, mauris erat sagittis quam, id lacinia libero eros vitae eros. Sed efficitur est sed elit sagittis, ut hendrerit nibh convallis. Donec ac diam non metus rhoncus porta aliquam vel libero. Nullam tempus ex a turpis vehicula finibus lacinia id felis. Maecenas vitae velit vitae lorem bibendum tincidunt. Aliquam at mollis quam. Sed elementum molestie neque at egestas. Donec ac leo vel neque auctor sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc volutpat arcu nec porta congue. In finibus tortor tempus elit congue tristique.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus diam, lobortis sed vulputate eget, euismod ac lorem. Vestibulum at nisi vel risus finibus imperdiet quis eu tellus. Suspendisse id leo viverra, posuere erat vitae, ultrices sapien. Integer neque quam, rutrum sodales tempus eu, tempor eu tortor. Cras pellentesque faucibus magna vitae rhoncus. Ut eget diam a dolor auctor elementum.
            </p>
            <p>
                Nulla quis mauris est. Mauris vitae elementum est, vel euismod urna. Nam dolor nisi, ultricies quis pulvinar sit amet, dictum ac tellus. Proin purus arcu, efficitur eu pretium sit amet, semper vel magna. Duis varius, massa ut vestibulum sodales, nunc augue sollicitudin est, sit amet consequat libero ante at dui. Fusce laoreet nunc eu nulla tempor ullamcorper. Fusce sed bibendum tortor. Sed non sollicitudin quam. Praesent scelerisque luctus elementum. Ut in augue ut massa sodales venenatis. Suspendisse a ex pellentesque, feugiat est id, convallis dolor. Nulla non gravida orci, nec volutpat dui. Duis vehicula purus nisl, eget viverra orci molestie eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vel magna eu turpis egestas aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <p>
                Nam sodales, felis id pellentesque iaculis, tortor lorem lacinia nisi, ut sodales felis libero in arcu. Ut et viverra massa. Curabitur ac velit neque. Aliquam nec magna feugiat, egestas lorem at, malesuada nunc. Duis in orci commodo elit fringilla blandit mollis eu velit. Nullam sed quam ac quam volutpat finibus ac quis sem. Aliquam mattis tincidunt velit sit amet scelerisque. Cras dictum nibh eget dictum feugiat. Suspendisse porta, lorem viverra fermentum convallis, nulla erat condimentum dui, in sollicitudin tellus leo eu nunc. Morbi sed magna nulla. Mauris euismod, justo et vulputate lacinia, turpis tellus molestie elit, at cursus odio enim eu magna.
            </p>
        </div>
    </div>
</div>
{% endblock %}